.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 400px;
  padding-left: 60px;
  margin: 160px auto;
  background-color: #FE0065;
  border-radius: 40px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}
footer{
  text-align: right;
}