*{
  box-sizing: border-box;
}

body{
  background-color: rgb(207, 195, 195);
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
  background-position: top ;
  background-image: url('./pokedexito.png');
  background-repeat: no-repeat;

}

h1, h2, h3, h4, p {
  margin: 0;
}

